.nav-container {
    background-color: rgba(20, 31, 49, 0.7);
    padding: 1rem;
}

.logo {
    transition: 300ms ease-in-out;
    margin: .5rem;
}

.logo:hover {
    transform: scale(1.1);
}

.link {
    margin: .5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(203, 208, 216);
    --bs-nav-link-hover-color: rgb(211, 172, 43);
}

.link:hover {
    color: rgb(211, 172, 43);
}

