/* Global Style */

.itemName {
    font-family: "Merriweather", serif;
    font-weight: 700;
    color: azure;
}

.itemType {
    color: #fcf75e;
    font-size: 1.2rem;
}

.itemInfo {
    font-size: 1.4rem;
}

.greetingTitle {
    font-family: "Merriweather", serif;
    font-weight: 700;
    color: azure;
}

.greetingText {
    font-size: 1.3rem;
}

.logo {
    transition: 300ms ease-in-out;
    margin: .5rem;
}

.logo:hover {
    transform: scale(1.1);
}

.link {
    margin: .5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(203, 208, 216);
    --bs-nav-link-hover-color: rgb(211, 172, 43);
}

.link:hover {
    color: rgb(211, 172, 43);
}

.logoFooter {
    transition: 300ms ease-in-out;
}

.logoFooter:hover {
    transform: scale(1.1);
}


.artifactCard {
    background-color: rgba(20, 31, 49, 0.7);
    min-height: 280px;
}

/* Default Style */

.mainContainer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: rgba(43, 51, 68, 1);
}


.navContainer {
    background-color: rgba(20, 31, 49, 0.7);
    padding: 1rem;
}

.footerContainer {
    border-radius: 15px;
    background-color: rgb(20, 31, 49);
    padding: 2rem;
}

/* Chaos Style */

.chaosMode {
    background-color: black;
    background: url(https://firebasestorage.googleapis.com/v0/b/react-shop-isla.appspot.com/o/chaos.jpeg?alt=media&token=8a563ecd-5c12-4fc8-b01c-1d07c8a3a647) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.mainContainerChaos {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 2rem;
    border-radius: 15px;
    background-color: rgba(67, 0, 0, 1);;
}

.navContainerChaos {
    background-color: rgba(67, 0, 0, 0.7);
    padding: 1rem;
}

.footerContainerChaos {
    border-radius: 15px;
    background-color: rgba(67, 0, 0, 1);
    padding: 2rem;
}









