body {
    background-color: black;
    background: url(../public/img/backgroundBody.webp) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    color: rgb(203, 208, 216);
    transition: all 0.5 ease;
}